<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    RewriteBase /
    DirectorySlash Off

    <Files *.php>
    Order Deny,Allow
    Deny from all
    </Files>

    <Files index.php>
    Order Allow,Deny
    Allow from all
    </Files>

    # RewriteCond %{REQUEST_URI} !\.(jpg|png|css|js|ttf)$
    
    RewriteCond %{REQUEST_URI} !\.(php)$
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [L]

    ErrorDocument 403 /index.php
    ErrorDocument 500 /index.php

</IfModule>