/* Auth */

.auth {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #50a3a2;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    overflow: hidden;
}

.container {
    position: relative;
    margin: auto;
}

.auth h2 {
    margin: 0 0 12px 0;
    text-align: center;
}

.auth input {
    width: 85%;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
}

.auth p {
    text-align: center;
}

/* Auth Login */

.login {
    width: 270px;
}

/* Auth Signup */

.signup {
    width: 300px;
}